{% extends 'main/layout.html' %}

{% block title %}Add article form{% endblock %}


{% block content %}
    <div class="features">
        <h1>Add article form</h1>
       <form method="post" >
            {% csrf_token %}

            {{ form.title }} <br>
            {{ form.intro }} <br>
            {{ form.full_text }} <br>
            {{ form.date }} <br>
            <span>{{ error }}</span>
            <button type="submit" class="btn btn-success">Add article</button>
       </form>
    </div>
{% endblock %}