{% extends 'main/layout.html' %}

{% block title %}News{% endblock %}


{% block content %}
    <div class="features">
        <h1>News on the website</h1>
            {%  if news %}
            {% for el in news %}
            <div class="alert alert-warning">
                <h2>{{ el.title }}</h2>
                <p>{{ el.intro }}</p>
                <p>{{ el.date }}</p>
            </div>
        {% endfor %}
        {% else %}
            <p>There are no articles</p>
        {% endif %}

        {# Comment #}
    </div>
{% endblock %}