{% extends 'main/layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ title }}</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia sunt natus optio, eius iste et perspiciatis officiis illum incidunt nesciunt qui molestias, atque fugit ea rem, ab necessitatibus quam libero!</p>
        <button class="btn btn-warning">About us</button>

        {% for val in values %}
            {% if val == 'Hello' %}
                
                <p>{{ val|upper }}</p>
               
            {% endif %}
        {% endfor %}

        {% for el in obj %}
            <p>{{ el }}</p>
        {% endfor %}


    </div>
{% endblock %}